# Configuración del servidor de desarrollo de Django
SECRET_KEY=tu-clave-secreta-de-django-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuración de base de datos
# Cambiar DB_ENGINE a 'mysql' si deseas conectar a un servidor MySQL local.
# Si se deja vacío o en 'sqlite', se usará SQLite por defecto de manera automática.
DB_ENGINE=sqlite
DB_NAME=lavafacil_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
